[Desktop Entry]
Encoding=UTF-8
Name=Link to Proj2_Alg_notes.pdf
Type=Link
URL=https://dl-web.dropbox.com/get/Proj2_Alg_notes.pdf?_subject_uid=307054821&w=AABXWBEeS1m5lKfwFDj5mseqI8-QWTj2JJHoJu70JGFj7Q
Icon=text-html
